<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-4" />
    <title>alguiler de peliculas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card border-light mb-3">
                    <div class="card-header">alquiler de pelicula</div>
                    <div class="card-body">
                        <form id="frmPeliculas">
                            <div class="row p-1">
                                <div class="col-2">CODIGO</div>
                                <div class="col-2">
                                    <input type="text" class="form-control" id="txtCodigopelicula" required />
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-2">TITULO</div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="txtTitulopelicula" required />
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-2">AUTOR</div>
                                <div class="col-6">
                                    <input type="text" class="form-control" id="txtAutorpelicula" required />
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-6">SINOPSIS</div>
                                <div class="col-14">
                                    <input type="text" class="form-control" id="txtSinopsispelicula" required />
                                </div>
                            </div>
                            </div class="row p-1">
                                  <div class="col-6">DURACION</div>
                                  <div class="col-2">
                                       <input type="text" class="form-control" id="txtDuracionpelicula" required />
                              </div>
                              <div class="row p-1">
                                 <div class="col-2">CLASIFICACION</div>
                                 <div class="col-2">
                                        <input type="text" class="form-control" id="txtClasificacionpelicula" required />
                              </div>
                              </div>
                                 <div class="row p-1">
                                  <div class="col-12">
                                        <input type="submit" value="Guardar" class="btn btn-primary" />
                                        <input type="reset" value="Nuevo" class="btn btn-warning" />
                              </div>
                              </div>
                       </form>
                    </div>
                 </div>
                </div>
            </div>
     </div>
            <div class="col-6">
                <table class="table table-dark table-striped table-hover" id="tblListadoPeliculas">
                    <thead>
                        <tr>
                            <th>CODIGO</th>
                            <th>TITULO</th>
                            <th>AUTOR</th>
                            <th>SINOPSIS</th>
                            <th>DURACION</th>
                            <th>CLASIFICACION</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
      <script>
        document.addEventListener("DOMContentLoaded", event => {
            limpiarpelicula();
            guardarpelicula();
        });
        function guardarpelicula() {
            frmPeliculas.addEventListener("submit", async e => {
                    e.preventDefault();

                let Peliculas = {
                    Codigo: txtCodigopelicula.value,
                    Titulo: txtTitulopelicula.value,
                    Autor: txtAutorpelicula.value,
                    Sinopsis : txtSinopsispelicula.value,
                    Duracion: txtDuracionpelicula.value,
                    Clasificacion: txtClasificacionpelicula.value
                };
                const response = await fetch('https://localhost:7056/api/Clientes', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: json.stringify(Peliculas)
                }),
                    datos= await response.json();
                console.log(datos);
                limpiarpelicula();
                listarpelicula();

            });
        }
        function limpiarpelicula() {
            txtCodigopelicula.value = '';
            txtTitulopelicula.value = '';
            txtAutorpelicula.value = '';
            txtSinopsisPelicula = '';
            txtDuracionPelicula = '';
            txtClasificacionpelicula.value = '';
        }
        async function listadoPeliculas() {
            const response = await fetch('https://localhost:7041/api/peliculas', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }), datos= await response.json();

            let filas = "";
            Peliculas.forEach(pelicula => {
                filas += `
                        <tr>
                            <td>${Peliculas.Codigo}</td>
                            <td>${Peliculas.Titulo}</td>
                            <td>${Peliculas.Autor}</td>
                            <td>${Peliculas.Sinopsis}</td>
                            <td>${Peliculas.Duracion}</td>
                             <td>${Peliculas.Clasificacion}</td>
                        </tr>
                    `;
            });
            let $tblPeliculas = document.querySelector("#tblListadoPeliculas > tbody");
            $tblPeliculas.innerHTML = filas;
        }
    </script>
</body>
</html>